<app-header class="content"></app-header>

<section class="modeEntrainement">
  <div class="divRegle" *ngIf="toDisplay">

    <h1 class="titre_regle">{{'entrainement.regle' | translate}}: </h1>
    <p class="regle">
      {{'entrainement.descRegle' | translate}}
    </p>

    <h2>{{'entrainement.difficulte' | translate}} :</h2>
    <ul>
      <li>
        <input (click)="toDisplayButton = true" (click)='cli(1)' type ="radio" name="dif" id="facile">
        <label for="facile" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo" >{{ 'entrainement.diff1' | translate }}</label>
        
      </li>

      <li>
        <input (click)="toDisplayButton = true" (click)='cli(2)' type="radio" name="dif" id="moyen">
        <label for="moyen" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo" >{{'entrainement.diff2' | translate }}</label>
        
      </li>

      <li>
        <input (click)="toDisplayButton = true" (click)='cli(3)' type="radio" name="dif" id="difficile">
        <label for="difficile" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span> 
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo" >{{ 'entrainement.diff3' | translate}}</label>
      
      </li>
    </ul>

    <h2>{{'entrainement.categories' | translate}}: </h2>
    <ul>
      <li>
        <input (click)="toDisplayButtonCat = true" (click)='cliquer1(1)'  type="radio" name="cat" id="devFront">
        <label for="devFront" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo" >{{'entrainement.dev web' | translate}}</label>
     
      </li>
      <li>
        <input (click)="toDisplayButtonCat = true" (click)='cliquer1(2)' type="radio" name="cat" id="devBack">
        <label for="devBack" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo" >{{'entrainement.dev web back' | translate}}</label>
        
      </li>
      <li>
        <input (click)="toDisplayButtonCat = true" (click)='cliquer1(3)' type="radio" name="cat" id="devAngular">
        <label for="devAngular" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo" >{{'entrainement.angular' | translate}}</label>
      
      </li>
      <li>
        <input (click)="toDisplayButtonCat = true"  (click)='cliquer1(4)'type="radio" name="cat" id="git">
        <label for="git" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo" >{{'entrainement.Git' | translate}}</label>
        
      </li>
      <li>
        <input (click)="toDisplayButtonCat = true"  (click)='cliquer1(5)'type="radio" name="cat" id="reseaux">
        <label for="reseaux" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo">{{'entrainement.reseaux' | translate}}</label>
       
      </li>
      <li>
        <input (click)="toDisplayButtonCat= true" (click)='cliquer1(6)' type="radio" name="cat" id="poo">
        <label for="poo" class="loadcheck">
          <span class="entypo-cancel">&#10008;</span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="load"></span>
          <span class="entypo-check">&#10004;</span>
        </label>
        <label for="poo" >{{'entrainement.poo' | translate}}</label>
        
      </li>
    </ul>

    <button class="button1" *ngIf="toDisplayButton && toDisplayButtonCat" (click)="toggleData(); cliquer2()" >{{'entrainement.lancer' | translate}}</button>
  </div>
 

  <div *ngIf="toDisplayBis">
      
      <h1 *ngIf="displayLangEN">Question {{btn}}/10  </h1>
      <h1 *ngIf="displayLangFR">Question {{btn}}/10  </h1>
      <h3>{{'entrainement.num_quest' | translate}} {{ question.id_question }}</h3>
      <h3 *ngIf="displayLangFR">{{question.label_fr}}</h3>
      <h3 *ngIf="displayLangEN">{{question.label_en }}</h3>
    
    <button class="button1"  value="suivant" (click)='cliquer12()' >{{'entrainement.aff' | translate}} </button>
    <button class="button2" id="arreter" routerLink="/">{{'entrainement.arreter' | translate}}</button>
  </div>
  <div *ngIf="toDisplayTer">
    <h1 *ngIf="displayLangEN">Question {{btn}}/10  </h1>
      <h1 *ngIf="displayLangFR">Question {{btn}}/10  </h1>
      <h3>{{'entrainement.num_quest' | translate}} {{ question.id_question }}</h3>
      <h3 *ngIf="displayLangFR">{{question.label_fr}}</h3>
      <h3 *ngIf="displayLangEN">{{question.label_en }}</h3>
      <h3 *ngIf="displayLangFR">{{reponse1.label_fr}}</h3>
      <h3 *ngIf="displayLangEN">{{reponse1.label_en}}</h3>
     
    
    <button class="button1"  value="suivant" (click)='cliquer13()' >{{'entrainement.suiv' | translate}} </button>
    <button class="button2" id="arreter" routerLink="/">{{'entrainement.arreter' | translate}}</button>

  </div>
  <div *ngIf="toDisplayQua">
    <h1 *ngIf="displayLangEN">Question {{btn}}/10  </h1>
      <h1 *ngIf="displayLangFR">Question {{btn}}/10  </h1>
      <h3>{{'entrainement.num_quest' | translate}} {{ question.id_question }}</h3>
      <h3 *ngIf="displayLangFR">{{question.label_fr}}</h3>
      <h3 *ngIf="displayLangEN">{{question.label_en }}</h3>
      <h3 *ngIf="displayLangFR">{{reponse1.label_fr}}</h3>
      <h3 *ngIf="displayLangEN">{{reponse1.label_en}}</h3>
     
    
    <button class="button1"  value="suivant" (click)='cliquer14()' >Finir</button>
    <button class="button2" id="arreter" routerLink="/">{{'entrainement.arreter' | translate}}</button>

  </div>
  <div *ngIf="toDisplayCin">
    <h1> {{'entrainement.terminer' | translate}} </h1>
  
     
    
   
    <button class="button2" id="arreter" routerLink="/">{{'entrainement.menu' | translate}}</button>

  </div>
  <a id="lien" ngx-translate (click)="changeLanguage()"><img class="flag" id="flag" src="assets/images/{{name}}.png" alt="english.png"></a>
</section>
<app-footer></app-footer>
